.cow-buy-now{
    color: white;
    background-image: linear-gradient(tomato, red);
    border-radius: 8px;
    border:0;
    padding: 7px 20px;
}
.videos{
    background-color: rgb(239, 243, 201);
    margin-left: 142px;
    margin-right: 141px;
    border-radius: 4px;
}